/**
    CSS RESET
 */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/**
    END RESET
 */

.body{
    color: rgba(8,42,131,1);
}

h1, h3 {
    color: rgb(8, 42, 131);
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin-top: 70px;

}

.header {
    height: 150px;
    text-align: center;
    border-bottom: 1px solid #082A83;
}

.header h3 {

}

.graph {
    height: 800px;
    background: #082A83;
}

#graph {
    width: 100%;
    margin-top: 20px;
}




.supporting {
    text-align: center;
}

#workouts {
    height: 120px;
    border-bottom: 1px solid #082A83;
}

#progress {
    height: 120px;
    border-bottom: 1px solid #082A83;
}

#goals {
    height: 120px;
    border-bottom: 1px solid #082A83;
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 150px;
    text-align: center;
    background-color: #082A83;
}


.footer ul {
}

.footer div {
    height: 150px;
    width: 19%;
    display: inline-block;
    background-color: #082A83;
    text-align: center;
}

.footer img {
    margin-top: 50px;

}